// =============== 主色調
$Campari: #381B1D;
$RamosGinFizz: #FCF0D8;
$IrishCoffee: #CEAD82;
// 主色漸層
$godFather-start: #FCF0D8;
$godFather-end: #CEAD82;

// =============== 次色調

$BlackVevet: #090909;
$Negroni: #381B1D;

// 次色漸層
$WhiteLady-start: #161616;
$WhiteLady-end: #f6f6f6;

// =============== 狀態色
$Error: #CD2525;
$Enable: #2B963C;

// =============== 無色系
$Black: #313131;
$black600: #838383;
$white: #FFFDFA;